<section class="portfolio section" id="portfolio">
  <div class="section__title" data-aos="zoom-in">
    <h3>Portafolio</h3>
  </div>

  <div
    class="portfolio__container"
    data-aos="fade-up"
    data-aos-anchor-placement="top-bottom"
  >
    <div class="portfolio__box">
      <div class="portfolio__img">
        <img loading="lazy" src="../../../assets/img/pages/page1.png" alt="" />
      </div>

      <div class="portfolio__content portfolio__content1">
        <div class="portfolio__content-title portfolio__content1-title">
          <span>
            <p>Featured Projects</p>
            <h3>Red Social</h3>
          </span>
        </div>

        <p
          class="portfolio__content-description portfolio__content1-description"
        >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga id
          exercitationem eaque omnis velit quasi dolore similique voluptas eos
          quos iure adipisci debitis non inventore quibusdam.
        </p>

        <div class="portfolio__content-languages portfolio__content1-languages">
          <p>Angular.js</p>
          <p>Node.js</p>
          <p>Mongo DB</p>
        </div>

        <div class="portfolio__content-icons portfolio__content1-icons">
          <a href="#">
            <i class="bx bxl-github"></i>
          </a>
          <a href="#">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="portfolio__box portfolio__box2">
      <div class="portfolio__content portfolio__content2">
        <div class="portfolio__content-title portfolio__content2-title">
          <span>
            <p>Featured Projects</p>
            <h3>Red Social</h3>
          </span>
        </div>

        <p
          class="portfolio__content-description portfolio__content2-description"
        >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga id
          exercitationem eaque omnis velit quasi dolore similique voluptas eos
          quos iure adipisci debitis non inventore quibusdam.
        </p>

        <div class="portfolio__content-languages portfolio__content2-languages">
          <p>Angular.js</p>
          <p>Node.js</p>
          <p>Mongo DB</p>
        </div>

        <div class="portfolio__content-icons portfolio__content2-icons">
          <a href="#">
            <i class="bx bxl-github"></i>
          </a>
          <a href="#">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>

      <div class="portfolio__img">
        <img loading="lazy" src="../../../assets/img/pages/page1.png" alt="" />
      </div>
    </div>

    <div class="portfolio__box">
      <div class="portfolio__img">
        <img loading="lazy" src="../../../assets/img/pages/page1.png" alt="" />
      </div>

      <div class="portfolio__content portfolio__content1">
        <div class="portfolio__content-title portfolio__content1-title">
          <span>
            <p>Featured Projects</p>
            <h3>Red Social</h3>
          </span>
        </div>

        <p
          class="portfolio__content-description portfolio__content1-description"
        >
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga id
          exercitationem eaque omnis velit quasi dolore similique voluptas eos
          quos iure adipisci debitis non inventore quibusdam.
        </p>

        <div class="portfolio__content-languages portfolio__content1-languages">
          <p>Angular.js</p>
          <p>Node.js</p>
          <p>Mongo DB</p>
        </div>

        <div class="portfolio__content-icons portfolio__content1-icons">
          <a href="#">
            <i class="bx bxl-github"></i>
          </a>
          <a href="#">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__container-more section container">
    <div
      class="section__title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
    >
      <h3>OTROS PROYECTOS DESTACADOS</h3>
    </div>

    <div class="portfolio__grid">
      <div
        class="portfolio__item"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="portfolio__item--header">
          <div class="portfolio__item--header-folder">
            <i class="bx bx-folder"></i>
          </div>
          <div class="portfolio__item--header-links">
            <i class="bx bxl-github"></i>
            <i class="bx bx-link-external"></i>
          </div>
        </div>

        <div class="portfolio__item--description">
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            impedit.
          </p>
        </div>

        <div class="portfolio__item--footer">
          <span>Angular.js</span>
          <span>Node.js</span>
          <span>Mongo DB</span>
        </div>
      </div>

      <div
        class="portfolio__item"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="portfolio__item--header">
          <div class="portfolio__item--header-folder">
            <i class="bx bx-folder"></i>
          </div>
          <div class="portfolio__item--header-links">
            <i class="bx bxl-github"></i>
            <i class="bx bx-link-external"></i>
          </div>
        </div>

        <div class="portfolio__item--description">
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            impedit.
          </p>
        </div>

        <div class="portfolio__item--footer">
          <span>Angular.js</span>
          <span>Node.js</span>
          <span>Mongo DB</span>
        </div>
      </div>

      <div
        class="portfolio__item"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="portfolio__item--header">
          <div class="portfolio__item--header-folder">
            <i class="bx bx-folder"></i>
          </div>
          <div class="portfolio__item--header-links">
            <i class="bx bxl-github"></i>
            <i class="bx bx-link-external"></i>
          </div>
        </div>

        <div class="portfolio__item--description">
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            impedit.
          </p>
        </div>

        <div class="portfolio__item--footer">
          <span>Angular.js</span>
          <span>Node.js</span>
          <span>Mongo DB</span>
        </div>
      </div>

      <div
        class="portfolio__item"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="portfolio__item--header">
          <div class="portfolio__item--header-folder">
            <i class="bx bx-folder"></i>
          </div>
          <div class="portfolio__item--header-links">
            <i class="bx bxl-github"></i>
            <i class="bx bx-link-external"></i>
          </div>
        </div>

        <div class="portfolio__item--description">
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            impedit.
          </p>
        </div>

        <div class="portfolio__item--footer">
          <span>Angular.js</span>
          <span>Node.js</span>
          <span>Mongo DB</span>
        </div>
      </div>

      <div
        class="portfolio__item"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="portfolio__item--header">
          <div class="portfolio__item--header-folder">
            <i class="bx bx-folder"></i>
          </div>
          <div class="portfolio__item--header-links">
            <i class="bx bxl-github"></i>
            <i class="bx bx-link-external"></i>
          </div>
        </div>

        <div class="portfolio__item--description">
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            impedit.
          </p>
        </div>

        <div class="portfolio__item--footer">
          <span>Angular.js</span>
          <span>Node.js</span>
          <span>Mongo DB</span>
        </div>
      </div>

      <div
        class="portfolio__item"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="portfolio__item--header">
          <div class="portfolio__item--header-folder">
            <i class="bx bx-folder"></i>
          </div>
          <div class="portfolio__item--header-links">
            <i class="bx bxl-github"></i>
            <i class="bx bx-link-external"></i>
          </div>
        </div>

        <div class="portfolio__item--description">
          <h5>Lorem ipsum, dolor sit amet consectetur adipisicing.</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit,
            impedit.
          </p>
        </div>

        <div class="portfolio__item--footer">
          <span>Angular.js</span>
          <span>Node.js</span>
          <span>Mongo DB</span>
        </div>
      </div>
    </div>
  </div>
</section>
