<footer class="footer">
  <p class="footer__title" data-aos="zoom-in">Brayan Gómez</p>

  <div class="footer__social" data-aos="zoom-in">
    <div class="footer__social-bottons">
      <a
        href="https://www.facebook.com/brayanalexander.gomezmanco.7"
        target="blank"
        ><i class="bx bxl-facebook-circle"></i>
      </a>
      <a href="https://twitter.com/brayang65009138?s=08" target="blank"
        ><i class="bx bxl-twitter"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/brayan-gómez-7398771a4"
        target="blank"
        ><i class="bx bxl-linkedin"></i>
      </a>
      <a
        href="https://www.instagram.com/brayanalexandergomezmanco/"
        target="blank"
        ><i class="bx bxl-instagram-alt"></i>
      </a>
    </div>
  </div>

  <p class="footer__copyright">Copyright by Brayan</p>
</footer>
