<section class="services section" id="services">
  <div class="section__title" data-aos="zoom-in">
    <h3>Servicios</h3>
  </div>
  <div class="services__container" data-aos="zoom-in-down">
    <div class="services__card">
      <div class="services__content">
        <img
          class="services__img"
          src="https://res.cloudinary.com/dzdphzmx8/image/upload/v1639270651/my-portfolio/services/frontend_ihgfml.png"
          alt="services image"
        />
        <h3 class="services__title">Frontend</h3>
        <p class="services__description">
          Te ofrezco un diseño profesional y hermoso de tu aplicación web 😉
        </p>
      </div>
    </div>

    <div class="services__card">
      <div class="services__content">
        <img
          class="services__img"
          src="https://res.cloudinary.com/dzdphzmx8/image/upload/v1639270650/my-portfolio/services/backend_lw0snl.png"
          alt="services image"
        />
        <h3 class="services__title">Backend</h3>
        <p class="services__description">
          Tendrás una aplicación web muy bien desarrollada, para que crezca tu
          negocio 😉
        </p>
      </div>
    </div>

    <div class="services__card">
      <div class="services__content">
        <img
          class="services__img"
          src="https://res.cloudinary.com/dzdphzmx8/image/upload/v1639270651/my-portfolio/services/seo_kpuoug.png"
          alt="services image"
        />
        <h3 class="services__title">Seo / Optimizador</h3>
        <p class="services__description">
          Tu aplicación sera la más rápida y mejor de todo internet 😉
        </p>
      </div>
    </div>
  </div>
</section>
