<div class="curriculum">
  <div class="curriculum__container">
    <div class="curriculum__left">
      <div class="curriculum__profile">
        <div class="curriculum__profile-img">
          <img
            src="https://res.cloudinary.com/dzdphzmx8/image/upload/v1639451082/my-portfolio/general/profileImg_dhjuou.jpg"
            alt="Profile photo"
          />
        </div>
        <h2 class="curriculum__profile-name">
          Brayan Alexander Gómez Manco <br />
          <span>Desarrolladora web</span>
        </h2>
      </div>

      <div class="curriculum__info">
        <h3 class="curriculum__info-title">Datos de contacto</h3>
        <ul class="curriculum__info-list">
          <li class="curriculum__info-list--item">
            <span class="icon"><i class="bx bx-phone-call"></i></span>
            <span class="text">+57 301 3932 979</span>
          </li>

          <li class="curriculum__info-list--item">
            <span class="icon"><i class="bx bxl-gmail"></i></span>
            <span class="text">gomezmancobrayan@gmail.com</span>
          </li>

          <li class="curriculum__info-list--item">
            <span class="icon"><i class="bx bx-globe"></i></span>
            <span class="text"
              ><a
                href="https://brayangomez22.github.io/my-portfolio/"
                target="_blank"
                >brayangomez22.github.io/my-portfolio/</a
              ></span
            >
          </li>

          <li class="curriculum__info-list--item">
            <span class="icon"><i class="bx bxl-linkedin"></i></span>
            <span class="text"
              ><a
                href="https://www.linkedin.com/in/brayan-g%C3%B3mez-7398771a4/"
                target="_blank"
                >www.Linkedin.com/in</a
              >
            </span>
          </li>

          <li class="curriculum__info-list--item">
            <span class="icon"><i class="bx bx-map"></i></span>
            <span class="text">Colombia, Medellin</span>
          </li>
        </ul>
      </div>

      <div class="curriculum__info curriculum__info-education">
        <h3 class="title">Educación</h3>
        <ul class="curriculum__info-list">
          <li class="curriculum__info-list--item">
            <h5>2006 - 2020</h5>
            <h4>Escuela secundaria</h4>
            <h4>I.E San Pablo</h4>
          </li>

          <li class="curriculum__info-list--item">
            <h5>2018 - 2020</h5>
            <h4>Técnica de desarrollo de software</h4>
            <h4>Sena</h4>
          </li>

          <li class="curriculum__info-list--item">
            <h5>2021 - 2021</h5>
            <h4>Full stack developer training</h4>
            <h4>Sofka Technologies</h4>
          </li>

          <li class="curriculum__info-list--item">
            <h5>2018 - 2021</h5>
            <h4>Aprendizaje autodidacta</h4>
            <h4>Plataformas Platzi y Udemy</h4>
          </li>
        </ul>
      </div>
    </div>

    <div class="curriculum__right">
      <div class="curriculum__about">
        <h2 class="curriculum__about-title">Perfil</h2>
        <p class="curriculum__about-description">
          Mi nombre es Brayan Alexander Gómez Manco soy una persona que ama la
          tecnología, desde hace tres años comencé a programar y desde entonces
          no he parado de aprender y crecer como desarrollador, entre mis
          cualidades más destacadas están la honestidad, la amabilidad, la
          humildad y la responsabilidad, tomo Mi trabajo muy en serio y siempre
          hago lo mejor que puedo para superarme día a día, me encantan los
          retos por eso cuando un cliente viene a mí con un proyecto siempre lo
          veo como un reto que hay que superar y hago lo mejor que puedo.
        </p>
      </div>

      <div class="curriculum__about">
        <h2 class="curriculum__about-title">Experiencia</h2>
        <div class="curriculum__about-box">
          <div class="curriculum__about-box--year">
            <h5>2018 - Desarrollador freelance</h5>
          </div>
          <div class="curriculum__about-box--text">
            <h4>Desarrollador Web</h4>
            <p>
              Alrededor de unos dos años estuve trabajando como desarrollador
              independiente, logrando construir plataformas como lo son tiendas
              online, sitios empresariales y varios portafolios de personas que
              querían hacerse conocer por medio del mundo digital.
            </p>
          </div>
        </div>

        <div class="curriculum__about-box">
          <div class="curriculum__about-box--year">
            <h5>2021 - Consultor de desarrollo - sofka Technologies</h5>
          </div>
          <div class="curriculum__about-box--text">
            <h4>Desarrollador Web</h4>
            <p>
              Actualmente estoy ejerciendo una rica experiencia al lado de la
              compañía de Hibot, uno de los productos internos de SOFKA
              TECHNOLOGIES, en la cual ejerzo un rol como desarrollador full
              stack, y al mismo tiempo desarrollo bots para la misma.
            </p>
          </div>
        </div>
      </div>

      <div class="curriculum__about curriculum__about-skills">
        <h2 class="curriculum__about-title">Professional Skills</h2>
        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>HTML</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 95%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>CSS</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 95%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>JAVASCRIPT - Typescript</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 85%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>React</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 80%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>Angular</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 80%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>NODE JS</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 60%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>PHP</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 70%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>JAVA</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 35%"></div>
          </div>
        </div>

        <div class="curriculum__about-box curriculum__about-skills-box">
          <h4>C++</h4>
          <div class="curriculum__about-skills--percent">
            <div style="width: 30%"></div>
          </div>
        </div>
      </div>

      <div class="curriculum__about curriculum__about-interest">
        <h2 class="curriculum__about-title">Intereses</h2>
        <ul class="curriculum__about-interest--list">
          <li><i class="bx bx-laptop"></i> Programa</li>
          <li><i class="bx bx-dumbbell"></i> Hacer deporte</li>
          <li><i class="bx bx-book-open"></i> Leer</li>
          <li><i class="bx bxs-face"></i> Conversar</li>
        </ul>
      </div>
    </div>
  </div>
</div>
