.banner {
  position: relative;
  background: url(../../../assets/img/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 80px;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-card-color);

  &__title {
    color: var(--white-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    border-bottom: 2px solid var(--white-color);
    text-align: center;
  }

  & button {
    width: 200px;
    height: 40px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
  }
}
