<section class="skills container section">
  <div class="section__title" data-aos="zoom-in">
    <h3>Habilidades</h3>
  </div>

  <div class="skills__container" data-aos="flip-left">
    <swiper [config]="config" effect="flip">
      <ng-template swiperSlide>
        <div class="skills__card">
          <div class="skills__box">
            <div class="skills__percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" style="--i: 70"></circle>
              </svg>
              <div class="skills__percent-number">
                <h2>70<span>%</span></h2>
              </div>
            </div>
            <h2 class="skills__box-text">HTML</h2>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="skills__card">
          <div class="skills__box">
            <div class="skills__percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" style="--i: 70"></circle>
              </svg>
              <div class="skills__percent-number">
                <h2>70<span>%</span></h2>
              </div>
            </div>
            <h2 class="skills__box-text">HTML</h2>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="skills__card">
          <div class="skills__box">
            <div class="skills__percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" style="--i: 70"></circle>
              </svg>
              <div class="skills__percent-number">
                <h2>70<span>%</span></h2>
              </div>
            </div>
            <h2 class="skills__box-text">HTML</h2>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="skills__card">
          <div class="skills__box">
            <div class="skills__percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70" style="--i: 70"></circle>
              </svg>
              <div class="skills__percent-number">
                <h2>70<span>%</span></h2>
              </div>
            </div>
            <h2 class="skills__box-text">HTML</h2>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
