<section class="testimonials section" id="testimonials">
  <img
    src="assets/img/testimonials/faq-bg-1-1.png"
    class="testimonials__img"
    alt="font img"
  />

  <div class="section__title" data-aos="zoom-in">
    <h3>Testimonios</h3>
  </div>

  <div class="testimonials__container">
    <div class="testimonials__card" data-aos="fade-down-right">
      <div class="testimonials__card-circle"></div>
      <div class="testimonials__inner">
        <h3 class="testimonials__inner-name">Brayan Gómez</h3>
        <p class="testimonials__inner-rol">Web Designer</p>
        <p class="testimonials__inner-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ut!
        </p>

        <div class="testimonials__inner-image">
          <img src="assets/img/testimonials/avatar-1.svg" alt="Avatar" />
        </div>

        <div class="testimonials__social">
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram-alt"></i></a>
        </div>
      </div>
    </div>

    <div class="testimonials__card" data-aos="zoom-in">
      <div class="testimonials__card-circle"></div>
      <div class="testimonials__inner">
        <h3 class="testimonials__inner-name">Brayan Gómez</h3>
        <p class="testimonials__inner-rol">Designer</p>
        <p class="testimonials__inner-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ut!
        </p>

        <div class="testimonials__inner-image">
          <img src="assets/img/testimonials/avatar-1.svg" alt="Avatar" />
        </div>

        <div class="testimonials__social">
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram-alt"></i></a>
        </div>
      </div>
    </div>

    <div class="testimonials__card" data-aos="zoom-in">
      <div class="testimonials__card-circle"></div>
      <div class="testimonials__inner">
        <h3 class="testimonials__inner-name">Brayan Gómez</h3>
        <p class="testimonials__inner-rol">Developer</p>
        <p class="testimonials__inner-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ut!
        </p>

        <div class="testimonials__inner-image">
          <img src="assets/img/testimonials/avatar-1.svg" alt="Avatar" />
        </div>

        <div class="testimonials__social">
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram-alt"></i></a>
        </div>
      </div>
    </div>

    <div class="testimonials__card" data-aos="fade-down-left">
      <div class="testimonials__card-circle"></div>
      <div class="testimonials__inner">
        <h3 class="testimonials__inner-name">Brayan Gómez</h3>
        <p class="testimonials__inner-rol">App Designer</p>
        <p class="testimonials__inner-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, ut!
        </p>

        <div class="testimonials__inner-image">
          <img src="assets/img/testimonials/avatar-1.svg" alt="Avatar" />
        </div>

        <div class="testimonials__social">
          <a href="#"><i class="bx bxl-facebook-circle"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
