<section class="presentation container section">
  <div class="presentation__container">
    <div class="presentation__data site-title" data-aos="zoom-in-right">
      <span class="presentation__hello">Hola</span>
      <span class="presentation__me">YO SOY</span>
      <div class="presentation__info">
        <span class="presentation__name" data-text="BRAYAN">BRAYAN</span>
        <h3 class="presentation__rol">desarrollador web full stack</h3>
        <button class="button two"><span>Descargar CV</span></button>
      </div>
    </div>

    <img
      src="../../../assets/img/banner-image.png"
      alt="banner-img"
      class="presentation__img"
    />
  </div>
</section>
