<section class="prices section container" id="prices">
  <div class="section__title" data-aos="zoom-in">
    <h3>Precios</h3>
  </div>

  <div class="prices__comparison" id="price-comparison">
    <div class="prices__column" data-aos="fade-up-right">
      <div class="prices__header">
        <div class="prices__header--price">
          <div class="prices__header--price-dollar">$</div>
          300
          <div class="prices__header--price-month">/dólares</div>
        </div>
        <div class="prices__header-plan">Mes</div>
      </div>

      <div class="prices__column-divider"></div>

      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature prices__feature-inactive">
        <img src="assets/img/prices/x-square.svg" />
        Desarrollo Web
      </div>

      <button class="prices__column-cta">Empezar hoy</button>
    </div>

    <div class="prices__column prices__column-popular" data-aos="fade-up">
      <div class="prices__most-popular">Más popular</div>
      <div class="prices__header">
        <div class="prices__header--price">
          <div class="prices__header--price-dollar">$</div>
          500
          <div class="prices__header--price-month">/dólares</div>
        </div>
        <div class="prices__header-plan">Mes</div>
      </div>

      <div class="prices__column-divider"></div>

      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>

      <button class="prices__column-cta">Empezar hoy</button>
    </div>

    <div class="prices__column" data-aos="fade-up-left">
      <div class="prices__header">
        <div class="prices__header--price">
          <div class="prices__header--price-dollar">$</div>
          400
          <div class="prices__header--price-month">/dólares</div>
        </div>
        <div class="prices__header-plan">Mes</div>
      </div>

      <div class="prices__column-divider"></div>

      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature">
        <img src="assets/img/prices/check-circle.svg" />
        Desarrollo Web
      </div>
      <div class="prices__feature prices__feature-inactive">
        <img src="assets/img/prices/x-square.svg" />
        Desarrollo Web
      </div>

      <button class="prices__column-cta">Empezar hoy</button>
    </div>
  </div>
</section>
